.communities {
  background-color: #ffffff;
  width: 100%;
  min-width: 2044px;
  min-height: 2259px;
  position: relative;
}

.communities .community-events-wrapper {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 2259px;
  align-items: flex-start;
  padding: 97px 382px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.communities .community-events {
  display: flex;
  flex-direction: column;
  height: 2130px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.communities .container-199 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 240px;
}

.communities .container-200 {
  position: absolute;
  top: 0;
  left: 608px;
  width: 64px;
  height: 64px;
}

.communities .heading-12 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 1280px;
  height: 40px;
  display: flex;
}

.communities .text-wrapper-220 {
  margin-top: 0.5px;
  width: 516px;
  height: 40px;
  margin-left: 381.5px;
  color: #0a0a0a;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.37px;
  line-height: 40px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.communities .d-couvrez-et-wrapper {
  position: absolute;
  top: 136px;
  left: 304px;
  width: 672px;
  height: 48px;
  display: flex;
}

.communities .d-couvrez-et {
  margin-top: -0.5px;
  width: 621px;
  height: 48px;
  margin-left: 25.7px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: 24px;
}

.communities .button-70 {
  position: absolute;
  top: 200px;
  left: 486px;
  width: 308px;
  height: 40px;
  display: flex;
  gap: 8px;
  background-color: #030213;
  border-radius: 8px;
}

.communities .icon-42 {
  margin-top: 12px;
  width: 16px;
  height: 16px;
  margin-left: 16px;
}

.communities .text-wrapper-221 {
  margin-top: 10.5px;
  width: 252px;
  height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .container-201 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 102px;
  gap: 16px;
  position: absolute;
  top: 272px;
  left: 0;
  width: 1280px;
}

.communities .card-39 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.communities .community-events-2 {
  display: flex;
  width: 366px;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.communities .container-202 {
  position: relative;
  width: 48px;
  height: 48px;
}

.communities .container-203 {
  display: flex;
  flex-direction: column;
  width: 125.62px;
  height: 52px;
  align-items: flex-start;
  position: relative;
}

.communities .paragraph-14 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 32px;
}

.communities .text-wrapper-222 {
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.07px;
  line-height: 32px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #0a0a0a;
  white-space: nowrap;
}

.communities .paragraph-15 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 20px;
}

.communities .text-wrapper-223 {
  position: absolute;
  top: 1px;
  left: 0;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.communities .card-40 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.communities .container-204 {
  display: flex;
  flex-direction: column;
  width: 118.95px;
  height: 52px;
  align-items: flex-start;
  position: relative;
}

.communities .card-41 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.communities .container-205 {
  display: flex;
  flex-direction: column;
  width: 109.21px;
  height: 52px;
  align-items: flex-start;
  position: relative;
}

.communities .container-206 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 36px;
}

.communities .primitive-button-20 {
  display: flex;
  width: 200px;
  height: 36px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  position: absolute;
  top: 0;
  left: 1080px;
  background-color: #f3f3f5;
  border-radius: 8px;
  border: 1px solid;
  border-color: transparent;
}

.communities .primitive-span-12 {
  width: 115.1px;
  height: 20px;
  align-items: center;
  gap: 8px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.communities .text-wrapper-224 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .icon-43 {
  position: relative;
  width: 16px;
  height: 16px;
}

.communities .container-207 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1064px;
  height: 36px;
}

.communities .input-8 {
  display: flex;
  width: 1064px;
  height: 36px;
  align-items: center;
  padding: 4px 12px 4px 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f3f3f5;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.communities .text-wrapper-225 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #717182;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: normal;
}

.communities .icon-44 {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 16px;
  height: 16px;
}

.communities .primitive-div-9 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1656px;
}

.communities .tab-list-8 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  width: 448px;
  height: 36px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 416px;
  background-color: #ececf0;
  border-radius: 10px;
}

.communities .primitive-button-21 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px -1px #0000001a, 0px 1px 3px #0000001a;
}

.communities .icon-45 {
  position: absolute;
  top: 6px;
  left: 82px;
  width: 16px;
  height: 16px;
}

.communities .text-wrapper-226 {
  position: absolute;
  top: 4px;
  left: 106px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .primitive-button-22 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.communities .icon-46 {
  position: absolute;
  top: 6px;
  left: 80px;
  width: 16px;
  height: 16px;
}

.communities .text-wrapper-227 {
  position: absolute;
  top: 4px;
  left: 104px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #717182;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .community-events-3 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 366.00px 386.00px 386.00px minmax(0, 1fr);
  width: 1280px;
  height: 1596px;
  gap: 24px;
  position: absolute;
  top: 60px;
  left: 0;
}

.communities .community-event-card {
  display: flex;
  flex-direction: column;
  width: 578px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.communities .container-208 {
  display: flex;
  height: 58px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.communities .container-209 {
  display: flex;
  flex-direction: column;
  height: 58px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.communities .container-210 {
  display: flex;
  height: 22px;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.communities .badge-21 {
  display: flex;
  width: 52.94px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  background-color: #dbeafe;
  border-color: transparent;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-wrapper-228 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #1347e5;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.communities .badge-22 {
  position: relative;
  width: 66.12px;
  border-color: #0000001a;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .icon-47 {
  position: absolute;
  top: 5px;
  left: 9px;
  width: 12px;
  height: 12px;
}

.communities .text-wrapper-229 {
  position: absolute;
  top: 4px;
  left: 25px;
  width: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.communities .heading-13 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
}

.communities .text-wrapper-230 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.communities .button-71 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 65.34px;
  height: 32px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0px 12px;
  position: relative;
  background-color: #eceef2;
  border-radius: 8px;
}

.communities .text-wrapper-231 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #030213;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .container-211 {
  display: flex;
  flex-direction: column;
  height: 76px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.communities .container-212 {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.communities .text-72 {
  position: relative;
  width: 151.69px;
  height: 20px;
}

.communities .text-73 {
  position: relative;
  width: 36.2px;
  height: 20px;
}

.communities .text-74 {
  position: relative;
  width: 94.55px;
  height: 20px;
}

.communities .container-213 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 53px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #0000001a;
}

.communities .container-214 {
  display: flex;
  flex-direction: column;
  width: 538px;
  height: 40px;
  align-items: flex-start;
  position: absolute;
  top: 13px;
  left: 40px;
}

.communities .text-wrapper-232 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .primitive-span-13 {
  width: 32px;
  height: 32px;
  align-items: flex-start;
  position: absolute;
  top: 17px;
  left: 0;
  border-radius: 16777200px;
  display: flex;
  overflow: hidden;
}

.communities .text-75 {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ececf0;
  border-radius: 16777200px;
}

.communities .text-wrapper-233 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.communities .container-215 {
  display: flex;
  height: 45px;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #0000001a;
}

.communities .button-72 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 53.05px;
  height: 32px;
  border-radius: 8px;
}

.communities .icon-48 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 16px;
  height: 16px;
}

.communities .text-wrapper-234 {
  top: 6px;
  left: 35px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #0a0a0a;
  white-space: nowrap;
}

.communities .button-73 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 52.72px;
  height: 32px;
  border-radius: 8px;
}

.communities .text-wrapper-235 {
  top: 6px;
  left: 34px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #0a0a0a;
  white-space: nowrap;
}

.communities .button-74 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 32px;
  border-radius: 8px;
}

.communities .text-wrapper-236 {
  position: absolute;
  top: 6px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .badge-23 {
  display: flex;
  width: 75.1px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  background-color: #d0fae5;
  border-color: transparent;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-wrapper-237 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #007955;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.communities .badge-24 {
  position: relative;
  width: 59.05px;
  border-color: #0000001a;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-wrapper-238 {
  position: absolute;
  top: 4px;
  left: 25px;
  width: 26px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.communities .button-75 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 87.94px;
  height: 32px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0px 12px;
  position: relative;
  background-color: #030213;
  border-radius: 8px;
}

.communities .text-wrapper-239 {
  position: relative;
  width: fit-content;
  margin-left: -0.03px;
  margin-right: -0.03px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .text-76 {
  position: relative;
  width: 145.95px;
  height: 20px;
}

.communities .text-77 {
  position: relative;
  width: 36.36px;
  height: 20px;
}

.communities .text-78 {
  position: relative;
  width: 196.57px;
  height: 20px;
}

.communities .button-76 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 59.05px;
  height: 32px;
  border-radius: 8px;
}

.communities .button-77 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 52.83px;
  height: 32px;
  border-radius: 8px;
}

.communities .community-event-card-wrapper {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.communities .container-216 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 58px;
}

.communities .badge-25 {
  display: flex;
  width: 53px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dbeafe;
  border-color: transparent;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .heading-14 {
  position: absolute;
  top: 30px;
  left: 0;
  width: 482px;
  height: 24px;
  display: flex;
}

.communities .text-wrapper-240 {
  margin-top: -0.5px;
  width: 175px;
  height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.communities .text-79 {
  position: relative;
  width: 152.05px;
  height: 20px;
}

.communities .text-80 {
  position: relative;
  width: 38.77px;
  height: 20px;
}

.communities .text-81 {
  position: relative;
  width: 113.17px;
  height: 20px;
}

.communities .paragraph-16 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 40px;
}

.communities .vente-d-objets-d {
  position: absolute;
  top: 1px;
  left: 0;
  width: 555px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.communities .button-78 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 59.62px;
  height: 32px;
  border-radius: 8px;
}

.communities .button-79 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 59.49px;
  height: 32px;
  border-radius: 8px;
}

.communities .card-42 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.communities .badge-26 {
  position: relative;
  width: 66.31px;
  border-color: #0000001a;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-82 {
  position: relative;
  width: 110.24px;
  height: 20px;
}

.communities .text-83 {
  position: relative;
  width: 36.37px;
  height: 20px;
}

.communities .text-84 {
  position: relative;
  width: 155.54px;
  height: 20px;
}

.communities .moment-convivial {
  position: absolute;
  top: 1px;
  left: 0;
  width: 569px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.communities .button-80 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 59.29px;
  height: 32px;
  border-radius: 8px;
}

.communities .card-43 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.communities .badge-27 {
  display: flex;
  width: 49.95px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  background-color: #dcfce7;
  border-color: transparent;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-wrapper-241 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #008235;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.communities .badge-28 {
  position: relative;
  width: 68.03px;
  border-color: #0000001a;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-wrapper-242 {
  position: absolute;
  top: 4px;
  left: 25px;
  width: 35px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.communities .text-85 {
  position: relative;
  width: 117.35px;
  height: 20px;
}

.communities .text-86 {
  position: relative;
  width: 36.55px;
  height: 20px;
}

.communities .text-87 {
  position: relative;
  width: 103.15px;
  height: 20px;
}

.communities .tournoi-amical-de {
  position: absolute;
  top: 1px;
  left: 0;
  width: 578px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.communities .button-81 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 61.41px;
  height: 32px;
  border-radius: 8px;
}

.communities .card-44 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.communities .badge-29 {
  display: flex;
  width: 60.41px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  background-color: #f3e8ff;
  border-color: transparent;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-wrapper-243 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #8200da;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.communities .badge-30 {
  position: relative;
  width: 66.42px;
  border-color: #0000001a;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-88 {
  position: relative;
  width: 137.27px;
  height: 20px;
}

.communities .text-89 {
  position: relative;
  width: 36.45px;
  height: 20px;
}

.communities .text-90 {
  position: relative;
  width: 108.8px;
  height: 20px;
}

.communities .partagez-vos {
  position: absolute;
  top: 1px;
  left: 0;
  width: 532px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.communities .button-82 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 59.55px;
  height: 32px;
  border-radius: 8px;
}

.communities .button-83 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 51.98px;
  height: 32px;
  border-radius: 8px;
}

.communities .card-45 {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.communities .badge-31 {
  display: flex;
  width: 58.57px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  background-color: #fce7f3;
  border-color: transparent;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-wrapper-244 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #c6005b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.communities .badge-32 {
  position: relative;
  width: 68.72px;
  border-color: #0000001a;
  height: 22px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.communities .text-91 {
  position: relative;
  width: 143.53px;
  height: 20px;
}

.communities .text-92 {
  position: relative;
  width: 133.11px;
  height: 20px;
}

.communities .grande-chasse-au-tr {
  position: absolute;
  top: 1px;
  left: 0;
  width: 531px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.communities .button-84 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 61.2px;
  height: 32px;
  border-radius: 8px;
}

.communities .navigation-9 {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 65px;
  align-items: flex-start;
  padding: 0px 414px 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #0000001a;
}

.communities .container-217 {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.communities .container-218 {
  display: flex;
  width: 136.87px;
  height: 32px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.communities .container-219 {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    rgba(43, 127, 255, 1) 0%,
    rgba(152, 16, 250, 1) 100%
  );
}

.communities .text-93 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 28px;
}

.communities .text-wrapper-245 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 20px;
  letter-spacing: -0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.communities .container-220 {
  display: flex;
  width: 572.71px;
  height: 36px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.communities .button-85 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 154.08px;
  height: 36px;
  border-radius: 8px;
}

.communities .text-wrapper-246 {
  position: absolute;
  top: 8px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .button-86 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 122.81px;
  height: 36px;
  border-radius: 8px;
}

.communities .icon-49 {
  position: absolute;
  top: 10px;
  left: 95px;
  width: 16px;
  height: 16px;
}

.communities .button-87 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 123.45px;
  height: 36px;
  border-radius: 8px;
}

.communities .button-88 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 36px;
  background-color: #030213;
  border-radius: 8px;
}

.communities .text-wrapper-247 {
  position: absolute;
  top: 8px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.communities .icon-50 {
  position: absolute;
  top: 10px;
  left: 132px;
  width: 16px;
  height: 16px;
}

.communities .button-89 {
  position: relative;
  width: 36px;
  height: 36px;
}
