.users-people {
  background-color: #ffffff;
  width: 100%;
  min-width: 2044px;
  min-height: 1418px;
  position: relative;
}

.users-people .profile-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 1418px;
  align-items: flex-start;
  padding: 97px 510px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.users-people .profile-page-7 {
  display: flex;
  flex-direction: column;
  height: 885px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .container-38 {
  display: flex;
  flex-direction: column;
  height: 68px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .heading-4 {
  display: flex;
  height: 36px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .text-wrapper-55 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 30px;
  letter-spacing: 0.40px;
  line-height: 36px;
}

.users-people .div-wrapper-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
}

.users-people .text-wrapper-56 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.users-people .container-39 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 785px;
}

.users-people .card-10 {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 785px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.users-people .card-content-7 {
  display: flex;
  flex-direction: column;
  width: 323.33px;
  height: 494px;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 24px 0px;
  position: relative;
}

.users-people .profile-page-8 {
  height: 196px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .heading-5 {
  position: absolute;
  top: 144px;
  left: 83px;
  width: 110px;
  height: 28px;
  display: flex;
}

.users-people .text-wrapper-57 {
  width: 114px;
  height: 28px;
  font-size: 20px;
  letter-spacing: -0.45px;
  line-height: 28px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  white-space: nowrap;
}

.users-people .paragraph-7 {
  position: absolute;
  top: 172px;
  left: 82px;
  width: 111px;
  height: 24px;
  display: flex;
}

.users-people .text-wrapper-58 {
  margin-top: -0.5px;
  width: 112px;
  height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.users-people .container-40 {
  position: absolute;
  top: 0;
  left: 74px;
  width: 128px;
  height: 128px;
}

.users-people .primitive-span-3 {
  width: 128px;
  height: 128px;
  top: 0;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  border-radius: 16777200px;
  overflow: hidden;
}

.users-people .text-8 {
  display: flex;
  height: 128px;
  align-items: center;
  justify-content: center;
  background-color: #ececf0;
  border-radius: 16777200px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.users-people .text-wrapper-59 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 30px;
  letter-spacing: 0.40px;
  line-height: 36px;
  white-space: nowrap;
}

.users-people .button-26 {
  position: absolute;
  top: 88px;
  left: 88px;
  width: 40px;
  height: 40px;
}

.users-people .profile-page-9 {
  display: flex;
  flex-direction: column;
  height: 101px;
  align-items: flex-start;
  gap: 12px;
  padding: 17px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #0000001a;
}

.users-people .div-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 20px;
}

.users-people .icon-12 {
  top: 2px;
  left: 0;
  position: absolute;
  width: 16px;
  height: 16px;
}

.users-people .text-wrapper-60 {
  position: absolute;
  top: 1px;
  left: 28px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .centres-d-int-r-t-2 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .container-41 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 52px;
}

.users-people .badge-6 {
  width: 61px;
  top: 0;
  left: 0;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-people .text-wrapper-61 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-people .badge-7 {
  width: 75px;
  top: 0;
  left: 69px;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-people .badge-8 {
  width: 46px;
  top: 0;
  left: 152px;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-people .badge-9 {
  width: 62px;
  top: 0;
  left: 206px;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-people .badge-10 {
  width: 83px;
  top: 30px;
  left: 0;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-people .card-11 {
  position: absolute;
  top: 0;
  left: 349px;
  width: 675px;
  height: 785px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.users-people .card-header-6 {
  margin-left: 1px;
  width: 672.67px;
  height: 70px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.users-people .card-title-6 {
  margin-left: 24px;
  width: 624.67px;
  margin-top: 24px;
  display: flex;
}

.users-people .text-wrapper-62 {
  margin-top: -0.5px;
  width: 157px;
  height: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 16px;
  white-space: nowrap;
}

.users-people .card-description-6 {
  margin-left: 24px;
  width: 624.67px;
  display: flex;
}

.users-people .text-wrapper-63 {
  margin-top: -0.5px;
  width: 317px;
  height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #717182;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.users-people .primitive-div-5 {
  display: flex;
  margin-left: 25px;
  width: 624.67px;
  height: 665px;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.users-people .tab-list-4 {
  height: 36px;
  background-color: #ececf0;
  border-radius: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .primitive-button-9 {
  left: 4px;
  display: flex;
  width: 308px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  position: absolute;
  top: 4px;
  border-radius: 8px;
}

.users-people .text-wrapper-64 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #717182;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .primitive-button-10 {
  left: 312px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px -1px #0000001a, 0px 1px 3px #0000001a;
  display: flex;
  width: 308px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  position: absolute;
  top: 4px;
  border-radius: 8px;
}

.users-people .text-wrapper-65 {
  margin-top: -1.00px;
  font-weight: 500;
  text-align: center;
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .tab-panel-3 {
  display: flex;
  flex-direction: column;
  height: 605px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .profile-page-10 {
  display: flex;
  flex-direction: column;
  height: 260px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .container-42 {
  display: flex;
  height: 76px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f9fafb;
  border-radius: 10px;
}

.users-people .container-43 {
  position: relative;
  width: 146.02px;
  height: 44px;
}

.users-people .container-44 {
  display: flex;
  flex-direction: column;
  width: 94px;
  height: 44px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 52px;
}

.users-people .text-wrapper-66 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  white-space: nowrap;
}

.users-people .text-wrapper-67 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .primitive-span-4 {
  width: 40px;
  height: 40px;
  top: 2px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  border-radius: 16777200px;
  overflow: hidden;
}

.users-people .text-9 {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #ececf0;
  border-radius: 16777200px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.users-people .text-wrapper-68 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.users-people .button-27 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 80.66px;
  height: 32px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0px 12px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #0000001a;
}

.users-people .text-wrapper-69 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .container-45 {
  position: relative;
  width: 159.69px;
  height: 44px;
}

.users-people .container-46 {
  display: flex;
  flex-direction: column;
  width: 108px;
  height: 44px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 52px;
}

.users-people .container-47 {
  position: relative;
  width: 152.66px;
  height: 44px;
}

.users-people .container-48 {
  display: flex;
  flex-direction: column;
  width: 101px;
  height: 44px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 52px;
}

.users-people .button-28 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 36px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #0000001a;
}

.users-people .text-wrapper-70 {
  position: absolute;
  top: 8px;
  left: 209px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .profile-page-11 {
  display: flex;
  flex-direction: column;
  height: 277px;
  align-items: flex-start;
  gap: 16px;
  padding: 25px 0px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #0000001a;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .container-49 {
  display: flex;
  flex-direction: column;
  height: 58px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .primitive-label-5 {
  display: flex;
  height: 14px;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .text-wrapper-71 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 14px;
  white-space: nowrap;
}

.users-people .input-6 {
  display: flex;
  height: 36px;
  align-items: center;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f3f3f5;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-people .text-wrapper-72 {
  font-weight: 400;
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .container-50 {
  display: flex;
  flex-direction: column;
  height: 86px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .textarea-2 {
  display: flex;
  height: 64px;
  align-items: flex-start;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f3f3f5;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-people .text-wrapper-73 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #717182;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .button-29 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 36px;
  background-color: #030213;
  border-radius: 8px;
}

.users-people .text-wrapper-74 {
  position: absolute;
  top: 8px;
  left: 270px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .navigation-4 {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 65px;
  align-items: flex-start;
  padding: 0px 414px 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #0000001a;
}

.users-people .container-51 {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-people .container-52 {
  display: flex;
  width: 136.87px;
  height: 32px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.users-people .container-53 {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    rgba(43, 127, 255, 1) 0%,
    rgba(152, 16, 250, 1) 100%
  );
}

.users-people .text-10 {
  height: 28px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.users-people .text-wrapper-75 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 20px;
  letter-spacing: -0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.users-people .container-54 {
  display: flex;
  width: 572.71px;
  height: 36px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.users-people .button-30 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 154.08px;
  height: 36px;
  border-radius: 8px;
}

.users-people .icon-13 {
  top: 10px;
  left: 12px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.users-people .text-wrapper-76 {
  position: absolute;
  top: 8px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-people .button-31 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 122.81px;
  height: 36px;
  border-radius: 8px;
}

.users-people .icon-14 {
  top: 10px;
  left: 95px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.users-people .button-32 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 123.45px;
  height: 36px;
  border-radius: 8px;
}

.users-people .button-33 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 36px;
  border-radius: 8px;
}

.users-people .icon-15 {
  top: 10px;
  left: 132px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.users-people .button-34 {
  position: relative;
  width: 36px;
  height: 36px;
}
