.families-tasks {
  background-color: #ffffff;
  width: 100%;
  min-width: 2044px;
  min-height: 1418px;
  position: relative;
}

.families-tasks .tasks-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 1418px;
  align-items: flex-start;
  padding: 97px 382px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.families-tasks .tasks-page {
  display: flex;
  flex-direction: column;
  height: 1192px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families-tasks .container-95 {
  display: flex;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families-tasks .container-96 {
  display: flex;
  flex-direction: column;
  width: 334.94px;
  height: 68px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.families-tasks .heading-9 {
  display: flex;
  height: 36px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families-tasks .text-wrapper-148 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 30px;
  letter-spacing: 0.40px;
  line-height: 36px;
}

.families-tasks .paragraph-12 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
}

.families-tasks .text-wrapper-149 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families-tasks .button-55 {
  all: unset;
  box-sizing: border-box;
  width: 146.02px;
  background-color: #030213;
  border-radius: 8px;
  position: relative;
  height: 36px;
}

.families-tasks .icon-29 {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 16px;
  height: 16px;
}

.families-tasks .text-wrapper-150 {
  position: absolute;
  top: 8px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families-tasks .container-97 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 640px;
}

.families-tasks .card-29 {
  display: flex;
  flex-direction: column;
  width: 845px;
  height: 640px;
  align-items: flex-start;
  gap: 30px;
  padding: 24px 0px 0px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families-tasks .card-title-10 {
  position: relative;
  width: 795.33px;
  height: 16px;
}

.families-tasks .text-wrapper-151 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 16px;
  white-space: nowrap;
}

.families-tasks .primitive-div-7 {
  display: flex;
  flex-direction: column;
  width: 795.33px;
  height: 540px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.families-tasks .tab-list-6 {
  height: 36px;
  background-color: #ececf0;
  border-radius: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families-tasks .primitive-button-14 {
  display: flex;
  width: 394px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px -1px #0000001a, 0px 1px 3px #0000001a;
}

.families-tasks .text-wrapper-152 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families-tasks .primitive-button-15 {
  display: flex;
  width: 394px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  position: absolute;
  top: 4px;
  left: 398px;
  border-radius: 8px;
}

.families-tasks .text-wrapper-153 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: 500;
  color: #717182;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  white-space: nowrap;
}

.families-tasks .tab-panel-4 {
  display: flex;
  flex-direction: column;
  height: 488px;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families-tasks .task-item {
  display: flex;
  height: 88px;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #0000001a;
}

.families-tasks .primitive-button-16 {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #f3f3f5;
  border-radius: 4px;
  border: 1px solid;
  border-color: #0000001a;
  box-shadow: 0px 1px 2px #0000000d;
}

.families-tasks .container-98 {
  display: flex;
  flex-direction: column;
  height: 54px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.families-tasks .text-wrapper-154 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families-tasks .container-99 {
  display: flex;
  height: 22px;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families-tasks .badge-14 {
  width: 63.98px;
  border-color: #0000001a;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.families-tasks .text-wrapper-155 {
  position: relative;
  width: fit-content;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  font-family: "Inter", Helvetica;
  color: #0a0a0a;
  white-space: nowrap;
}

.families-tasks .text-35 {
  position: relative;
  width: 89.25px;
  height: 20px;
}

.families-tasks .icon-30 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
}

.families-tasks .text-wrapper-156 {
  position: absolute;
  top: 1px;
  left: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #697282;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families-tasks .container-100 {
  position: relative;
  width: 72.32px;
  height: 32px;
}

.families-tasks .text-36 {
  position: absolute;
  top: 6px;
  left: 40px;
  width: 32px;
  height: 20px;
  display: flex;
}

.families-tasks .text-wrapper-157 {
  margin-top: 0.5px;
  width: 33px;
  height: 20px;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .primitive-span-8 {
  left: 0;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  border-radius: 16777200px;
  overflow: hidden;
}

.families-tasks .text-37 {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ececf0;
  border-radius: 16777200px;
}

.families-tasks .text-wrapper-158 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.families-tasks .badge-15 {
  width: 60.72px;
  border-color: #0000001a;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.families-tasks .container-101 {
  position: relative;
  width: 69.95px;
  height: 32px;
}

.families-tasks .text-38 {
  position: absolute;
  top: 6px;
  left: 40px;
  width: 30px;
  height: 20px;
  display: flex;
}

.families-tasks .text-wrapper-159 {
  margin-top: 0.5px;
  width: 30px;
  height: 20px;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .text-39 {
  position: relative;
  width: 64.8px;
  height: 20px;
}

.families-tasks .container-102 {
  position: relative;
  width: 84.53px;
  height: 32px;
}

.families-tasks .text-40 {
  position: absolute;
  top: 6px;
  left: 40px;
  width: 45px;
  height: 20px;
  display: flex;
}

.families-tasks .text-wrapper-160 {
  margin-top: 0.5px;
  width: 45px;
  height: 20px;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .badge-16 {
  width: 53.9px;
  border-color: #0000001a;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.families-tasks .text-41 {
  position: relative;
  width: 73.18px;
  height: 20px;
}

.families-tasks .badge-17 {
  width: 51.18px;
  border-color: #0000001a;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.families-tasks .text-42 {
  position: relative;
  width: 51.01px;
  height: 20px;
}

.families-tasks .container-103 {
  display: flex;
  flex-direction: column;
  width: 411px;
  height: 640px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 869px;
}

.families-tasks .card-30 {
  display: flex;
  flex-direction: column;
  height: 296px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families-tasks .card-header-10 {
  position: relative;
  width: 408.66px;
  height: 70px;
}

.families-tasks .card-title-11 {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 361px;
  height: 16px;
  display: flex;
}

.families-tasks .text-wrapper-161 {
  margin-top: -0.5px;
  width: 183px;
  height: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 16px;
  white-space: nowrap;
}

.families-tasks .card-description-9 {
  position: absolute;
  top: 46px;
  left: 24px;
  width: 361px;
  height: 24px;
  display: flex;
}

.families-tasks .text-wrapper-162 {
  margin-top: -0.5px;
  width: 212px;
  height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #717182;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families-tasks .card-content-14 {
  display: flex;
  flex-direction: column;
  width: 408.66px;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.families-tasks .tasks-page-2 {
  display: flex;
  flex-direction: column;
  height: 48px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families-tasks .container-104 {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families-tasks .container-105 {
  position: relative;
  width: 76.38px;
  height: 32px;
}

.families-tasks .text-43 {
  position: absolute;
  top: 4px;
  left: 40px;
  width: 36px;
  height: 24px;
  display: flex;
}

.families-tasks .text-wrapper-163 {
  margin-top: -0.5px;
  width: 37px;
  height: 24px;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .text-44 {
  position: relative;
  width: 18.77px;
  height: 20px;
}

.families-tasks .text-wrapper-164 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 19px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.families-tasks .container-106 {
  display: flex;
  flex-direction: column;
  height: 8px;
  align-items: flex-start;
  padding: 0px 180.34px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 16777200px;
  overflow: hidden;
}

.families-tasks .container-107 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 8px;
  background-color: #155dfc;
}

.families-tasks .container-108 {
  position: relative;
  width: 73.52px;
  height: 32px;
}

.families-tasks .text-45 {
  position: absolute;
  top: 4px;
  left: 40px;
  width: 34px;
  height: 24px;
  display: flex;
}

.families-tasks .text-wrapper-165 {
  margin-top: -0.5px;
  width: 34px;
  height: 24px;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .text-46 {
  position: relative;
  width: 21.09px;
  height: 20px;
}

.families-tasks .text-wrapper-166 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.families-tasks .container-109 {
  display: flex;
  flex-direction: column;
  height: 8px;
  align-items: flex-start;
  padding: 0px 360.66px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 16777200px;
  overflow: hidden;
}

.families-tasks .container-110 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 8px;
  margin-right: -1.00px;
  background-color: #155dfc;
}

.families-tasks .container-111 {
  position: relative;
  width: 90.05px;
  height: 32px;
}

.families-tasks .text-47 {
  position: absolute;
  top: 4px;
  left: 40px;
  width: 50px;
  height: 24px;
  display: flex;
}

.families-tasks .text-wrapper-167 {
  margin-top: -0.5px;
  width: 51px;
  height: 24px;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .card-31 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 328px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families-tasks .card-title-12 {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 361px;
  height: 16px;
  display: flex;
}

.families-tasks .text-wrapper-168 {
  margin-top: -0.5px;
  width: 80px;
  height: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 16px;
  white-space: nowrap;
}

.families-tasks .card-content-15 {
  display: flex;
  flex-direction: column;
  width: 409px;
  height: 256px;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 24px;
  position: absolute;
  top: 71px;
  left: 1px;
}

.families-tasks .tasks-page-3 {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 4px;
}

.families-tasks .text-48 {
  position: relative;
  width: 58.3px;
  height: 24px;
}

.families-tasks .badge-18 {
  width: 25.41px;
  background-color: #eceef2;
  border-color: transparent;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.families-tasks .text-wrapper-169 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #030213;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.families-tasks .text-49 {
  position: relative;
  width: 53.36px;
  height: 24px;
}

.families-tasks .badge-19 {
  width: 23.77px;
  background-color: #eceef2;
  border-color: transparent;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.families-tasks .text-50 {
  position: relative;
  width: 54.43px;
  height: 24px;
}

.families-tasks .badge-20 {
  width: 25.78px;
  background-color: #eceef2;
  border-color: transparent;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
}

.families-tasks .text-51 {
  position: relative;
  width: 44.54px;
  height: 24px;
}

.families-tasks .text-52 {
  position: relative;
  width: 41.63px;
  height: 24px;
}

.families-tasks .container-112 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 420px;
  gap: 24px;
  position: absolute;
  top: 772px;
  left: 0;
  width: 1280px;
}

.families-tasks .card-32 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families-tasks .card-header-11 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: 16.00px minmax(0, 1fr);
  width: 626px;
  height: 70px;
  gap: 6px;
  padding: 24px 24px 0px;
  position: absolute;
  top: 1px;
  left: 1px;
}

.families-tasks .card-title-13 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
}

.families-tasks .text-wrapper-170 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 16px;
  white-space: nowrap;
}

.families-tasks .card-description-10 {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
}

.families-tasks .text-wrapper-171 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #717182;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families-tasks .card-content-16 {
  position: absolute;
  top: 95px;
  left: 25px;
  width: 578px;
  height: 300px;
}

.families-tasks .icon-31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 578px;
  height: 300px;
}

.families-tasks .recharts-zindex-3 {
  position: absolute;
  width: 27.68%;
  height: 53.33%;
  top: 19.17%;
  left: 36.07%;
}

.families-tasks .recharts-zindex-4 {
  position: absolute;
  width: 55.19%;
  height: 62.74%;
  top: 13.13%;
  left: 19.20%;
}

.families-tasks .group-4 {
  width: 25.71%;
  top: 0;
  left: 71.47%;
  position: absolute;
  height: 7.97%;
  display: flex;
}

.families-tasks .text-wrapper-172 {
  flex: 1;
  width: 80px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #3b82f6;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.families-tasks .group-5 {
  width: 25.08%;
  top: 46.01%;
  left: 0;
  position: absolute;
  height: 7.97%;
  display: flex;
}

.families-tasks .text-wrapper-173 {
  flex: 1;
  width: 78px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8b5cf6;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.families-tasks .group-6 {
  width: 29.15%;
  top: 92.03%;
  left: 71.47%;
  position: absolute;
  height: 7.97%;
  display: flex;
}

.families-tasks .text-wrapper-174 {
  flex: 1;
  width: 91px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ec4899;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.families-tasks .pc-2 {
  position: absolute;
  top: 271px;
  left: 5px;
  width: 568px;
  height: 24px;
  display: flex;
  gap: 10px;
}

.families-tasks .sp-4 {
  width: 51.52px;
  margin-left: 182.0px;
  height: 24px;
  display: flex;
  gap: 4px;
}

.families-tasks .icon-32 {
  margin-top: 6.8px;
  width: 14px;
  height: 14px;
}

.families-tasks .text-53 {
  display: flex;
  margin-top: 2.5px;
  width: 33.52px;
  height: 19px;
  position: relative;
  align-items: flex-start;
}

.families-tasks .text-wrapper-175 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -4.00px;
  margin-right: -0.48px;
  color: #8b5cf6;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .sp-5 {
  width: 54.38px;
  height: 24px;
  display: flex;
  gap: 4px;
}

.families-tasks .text-54 {
  display: flex;
  margin-top: 2.5px;
  width: 36.38px;
  height: 19px;
  position: relative;
  align-items: flex-start;
}

.families-tasks .text-wrapper-176 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -4.00px;
  margin-right: -0.62px;
  color: #3b82f6;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .sp-6 {
  width: 68.05px;
  height: 24px;
  display: flex;
  gap: 4px;
}

.families-tasks .text-55 {
  display: flex;
  margin-top: 2.5px;
  width: 50.05px;
  height: 19px;
  position: relative;
  align-items: flex-start;
}

.families-tasks .text-wrapper-177 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -4.00px;
  margin-right: -0.95px;
  color: #ec4899;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .card-33 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families-tasks .card-content-17 {
  display: flex;
  flex-direction: column;
  width: 626px;
  height: 257px;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 24px;
  position: relative;
}

.families-tasks .tasks-page-4 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 184px;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 24px;
  width: 578px;
}

.families-tasks .container-113 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.families-tasks .container-114 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 32px;
}

.families-tasks .text-56 {
  position: absolute;
  top: 6px;
  left: 95px;
  width: 32px;
  height: 20px;
  display: flex;
}

.families-tasks .text-wrapper-178 {
  margin-top: 0.5px;
  width: 33px;
  height: 20px;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .primitive-span-9 {
  left: 55px;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  border-radius: 16777200px;
  overflow: hidden;
}

.families-tasks .container-115 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 120px;
}

.families-tasks .container-116 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 16px;
}

.families-tasks .text-wrapper-179 {
  position: absolute;
  top: 1px;
  left: 53px;
  width: 77px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.families-tasks .container-117 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.families-tasks .text-57 {
  position: absolute;
  top: 6px;
  left: 96px;
  width: 30px;
  height: 20px;
  display: flex;
}

.families-tasks .text-wrapper-180 {
  margin-top: 0.5px;
  width: 30px;
  height: 20px;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .primitive-span-10 {
  left: 56px;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  border-radius: 16777200px;
  overflow: hidden;
}

.families-tasks .text-wrapper-181 {
  position: absolute;
  top: 1px;
  left: 52px;
  width: 79px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.families-tasks .container-118 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.families-tasks .text-58 {
  position: absolute;
  top: 6px;
  left: 89px;
  width: 45px;
  height: 20px;
  display: flex;
}

.families-tasks .text-wrapper-182 {
  margin-top: 0.5px;
  width: 45px;
  height: 20px;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families-tasks .primitive-span-11 {
  left: 49px;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  border-radius: 16777200px;
  overflow: hidden;
}

.families-tasks .tasks-page-5 {
  display: flex;
  height: 33px;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 16px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #0000001a;
}

.families-tasks .container-119 {
  display: flex;
  width: 78.38px;
  height: 16px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.families-tasks .container-120 {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #00c950;
  border-radius: 4px;
}

.families-tasks .text-59 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 16px;
}

.families-tasks .text-wrapper-183 {
  position: absolute;
  top: 1px;
  left: 0;
  font-weight: 400;
  color: #495565;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  font-family: "Inter", Helvetica;
  white-space: nowrap;
}

.families-tasks .container-121 {
  display: flex;
  width: 69.07px;
  height: 16px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.families-tasks .container-122 {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #fe9a00;
  border-radius: 4px;
}

.families-tasks .navigation-7 {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 65px;
  align-items: flex-start;
  padding: 0px 414px 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #0000001a;
}

.families-tasks .container-123 {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families-tasks .container-124 {
  display: flex;
  width: 136.87px;
  height: 32px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.families-tasks .container-125 {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    rgba(43, 127, 255, 1) 0%,
    rgba(152, 16, 250, 1) 100%
  );
}

.families-tasks .text-60 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 28px;
}

.families-tasks .text-wrapper-184 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 20px;
  letter-spacing: -0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.families-tasks .container-126 {
  display: flex;
  width: 572.71px;
  height: 36px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.families-tasks .button-56 {
  all: unset;
  box-sizing: border-box;
  width: 154.08px;
  border-radius: 8px;
  position: relative;
  height: 36px;
}

.families-tasks .text-wrapper-185 {
  position: absolute;
  top: 8px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families-tasks .button-57 {
  all: unset;
  box-sizing: border-box;
  width: 122.81px;
  background-color: #030213;
  border-radius: 8px;
  position: relative;
  height: 36px;
}

.families-tasks .icon-33 {
  position: absolute;
  top: 10px;
  left: 95px;
  width: 16px;
  height: 16px;
}

.families-tasks .button-58 {
  all: unset;
  box-sizing: border-box;
  width: 123.45px;
  border-radius: 8px;
  position: relative;
  height: 36px;
}

.families-tasks .button-59 {
  all: unset;
  box-sizing: border-box;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
  position: relative;
  height: 36px;
}

.families-tasks .icon-34 {
  position: absolute;
  top: 10px;
  left: 132px;
  width: 16px;
  height: 16px;
}

.families-tasks .button-60 {
  width: 36px;
  position: relative;
  height: 36px;
}
