.families {
  background-color: #ffffff;
  width: 100%;
  min-width: 2044px;
  min-height: 2253px;
  position: relative;
}

.families .dashboard-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 2253px;
  align-items: flex-start;
  padding: 97px 382px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.families .dashboard-page {
  display: flex;
  flex-direction: column;
  height: 2124px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families .container-67 {
  display: flex;
  flex-direction: column;
  height: 68px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families .div-wrapper-5 {
  display: flex;
  height: 36px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families .text-wrapper-105 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 30px;
  letter-spacing: 0.40px;
  line-height: 36px;
}

.families .div-wrapper-6 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
}

.families .text-wrapper-106 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families .container-68 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 114px;
  gap: 24px;
  position: absolute;
  top: 100px;
  left: 0;
  width: 1280px;
}

.families .card-20 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families .dashboard-page-2 {
  display: flex;
  width: 252px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.families .container-69 {
  display: flex;
  flex-direction: column;
  width: 105.55px;
  height: 64px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.families .paragraph-9 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 20px;
}

.families .text-wrapper-107 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .text-wrapper-108 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 30px;
  letter-spacing: 0.40px;
  line-height: 36px;
}

.families .icon-21 {
  position: relative;
  width: 32px;
  height: 32px;
}

.families .card-21 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families .container-70 {
  display: flex;
  flex-direction: column;
  width: 173.47px;
  height: 64px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.families .card-22 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families .container-71 {
  display: flex;
  flex-direction: column;
  width: 99.59px;
  height: 64px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.families .card-23 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families .container-72 {
  display: flex;
  flex-direction: column;
  width: 134.71px;
  height: 64px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.families .card-24 {
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
  box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
  background: linear-gradient(
    135deg,
    rgba(239, 246, 255, 1) 0%,
    rgba(250, 245, 255, 1) 50%,
    rgba(255, 247, 237, 1) 100%
  );
}

.families .village-assistant {
  display: flex;
  flex-direction: column;
  width: 1278px;
  height: 75px;
  align-items: flex-start;
  padding: 16px 16px 0px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(21, 93, 252, 1) 0%,
    rgba(152, 16, 250, 1) 50%,
    rgba(255, 105, 0, 1) 100%
  );
}

.families .container-73 {
  display: flex;
  height: 43px;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families .container-74 {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  border-radius: 16777200px;
}

.families .text-21 {
  position: relative;
  width: 24px;
  height: 32px;
}

.families .text-wrapper-109 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.07px;
  line-height: 32px;
  white-space: nowrap;
}

.families .container-75 {
  display: flex;
  flex-direction: column;
  width: 152.48px;
  height: 43px;
  align-items: flex-start;
  position: relative;
}

.families .heading-7 {
  height: 27px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families .text-wrapper-110 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.44px;
  line-height: 27px;
  white-space: nowrap;
}

.families .paragraph-10 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 16px;
  opacity: 0.9;
}

.families .text-wrapper-111 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.families .village-assistant-2 {
  display: flex;
  flex-direction: column;
  width: 1278px;
  align-items: flex-start;
  padding: 16px 16px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
}

.families .container-76 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 76px;
}

.families .village-assistant-3 {
  display: flex;
  flex-direction: column;
  width: 934px;
  height: 76px;
  align-items: flex-start;
  gap: 4px;
  padding: 8px 16px 0px;
  position: absolute;
  top: 0;
  left: 44px;
  background-color: #f3f4f6;
  border-radius: 16px;
}

.families .div-6 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 40px;
}

.families .bonjour-je-suis-l {
  position: absolute;
  top: 1px;
  left: 0;
  width: 862px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #101727;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.families .paragraph-11 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 16px;
}

.families .text-wrapper-112 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #697282;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.families .primitive-span-6 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16777200px;
  overflow: hidden;
}

.families .text-22 {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 16777200px;
  background: linear-gradient(
    135deg,
    rgba(152, 16, 250, 1) 0%,
    rgba(255, 105, 0, 1) 100%
  );
}

.families .text-wrapper-113 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families .village-assistant-4 {
  position: relative;
  width: 1278px;
  height: 40px;
  background-color: #ffffff;
}

.families .button-43 {
  position: absolute;
  top: 0;
  left: 16px;
  width: 198px;
  height: 28px;
  display: flex;
  border-radius: 16777200px;
  background: linear-gradient(
    90deg,
    rgba(219, 234, 254, 1) 0%,
    rgba(243, 232, 255, 1) 100%
  );
}

.families .text-wrapper-114 {
  margin-top: 7px;
  width: 173px;
  height: 16px;
  margin-left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.families .button-44 {
  position: absolute;
  top: 0;
  left: 222px;
  width: 193px;
  height: 28px;
  display: flex;
  border-radius: 16777200px;
  background: linear-gradient(
    90deg,
    rgba(219, 234, 254, 1) 0%,
    rgba(243, 232, 255, 1) 100%
  );
}

.families .text-wrapper-115 {
  margin-top: 7px;
  width: 169px;
  height: 16px;
  margin-left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.families .button-45 {
  position: absolute;
  top: 0;
  left: 423px;
  width: 219px;
  height: 28px;
  display: flex;
  border-radius: 16777200px;
  background: linear-gradient(
    90deg,
    rgba(219, 234, 254, 1) 0%,
    rgba(243, 232, 255, 1) 100%
  );
}

.families .text-wrapper-116 {
  margin-top: 7px;
  width: 195px;
  height: 16px;
  margin-left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.families .button-46 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 650px;
  width: 160px;
  height: 28px;
  display: flex;
  border-radius: 16777200px;
  background: linear-gradient(
    90deg,
    rgba(219, 234, 254, 1) 0%,
    rgba(243, 232, 255, 1) 100%
  );
}

.families .text-wrapper-117 {
  margin-top: 7px;
  width: 136px;
  height: 16px;
  margin-left: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.families .village-assistant-5 {
  display: flex;
  flex-direction: column;
  width: 1278px;
  height: 93px;
  align-items: flex-start;
  padding: 17px 16px 0px;
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #0000001a;
  background: linear-gradient(
    135deg,
    rgba(16, 24, 40, 1) 0%,
    rgba(30, 41, 57, 1) 50%,
    rgba(16, 24, 40, 1) 100%
  );
}

.families .container-77 {
  display: flex;
  height: 60px;
  align-items: flex-end;
  gap: 8px;
  padding: 0px 12px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #1e2939;
  border-radius: 16px;
  box-shadow: inset 0px 2px 4px #0000000d;
}

.families .button-47 {
  position: relative;
  width: 36px;
  height: 36px;
}

.families .textarea-3 {
  display: flex;
  height: 36px;
  align-items: flex-start;
  padding: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
}

.families .text-wrapper-118 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #697282;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .container-78 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 444px;
  gap: 24px;
  position: absolute;
  top: 878px;
  left: 0;
  width: 1280px;
}

.families .card-25 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families .card-header-8 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: 16.00px minmax(0, 1fr);
  width: 626px;
  height: 70px;
  gap: 6px;
  padding: 24px 24px 0px;
  position: absolute;
  top: 1px;
  left: 1px;
}

.families .card-title-9 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
}

.families .text-wrapper-119 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 16px;
  white-space: nowrap;
}

.families .card-description-8 {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
}

.families .text-wrapper-120 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #717182;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families .card-content-11 {
  display: flex;
  flex-direction: column;
  width: 626px;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.families .dashboard-page-3 {
  display: flex;
  height: 80px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f9fafb;
  border-radius: 10px;
}

.families .container-79 {
  display: flex;
  flex-direction: column;
  height: 48px;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.families .text-wrapper-121 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families .icon-22 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
}

.families .text-wrapper-122 {
  position: absolute;
  top: 1px;
  left: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .badge-11 {
  width: 58.57px;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
}

.families .text-wrapper-123 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.families .badge-12 {
  width: 95.04px;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
}

.families .badge-13 {
  width: 74.77px;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;
}

.families .button-48 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 36px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #0000001a;
}

.families .text-wrapper-124 {
  position: absolute;
  top: 8px;
  left: 219px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .card-26 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families .card-content-12 {
  width: 626px;
  height: 176px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px;
  position: relative;
}

.families .container-80 {
  display: flex;
  flex-direction: column;
  width: 526px;
  height: 40px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 52px;
}

.families .text-23 {
  display: flex;
  width: 32px;
  height: 16px;
  align-items: flex-start;
  position: absolute;
  top: 2px;
  left: 0;
}

.families .text-wrapper-125 {
  margin-right: -0.68px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -2.50px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .text-wrapper-126 {
  position: absolute;
  top: 1px;
  left: 32px;
  width: 134px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.families .text-24 {
  display: flex;
  width: 108px;
  height: 16px;
  align-items: flex-start;
  position: absolute;
  top: 2px;
  left: 166px;
}

.families .text-wrapper-127 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -2.50px;
  margin-right: -1.84px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #155cfb;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .primitive-span-7 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16777200px;
  overflow: hidden;
}

.families .text-25 {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ececf0;
  border-radius: 16777200px;
}

.families .text-wrapper-128 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families .text-26 {
  display: flex;
  width: 30px;
  height: 16px;
  align-items: flex-start;
  position: absolute;
  top: 2px;
  left: 0;
}

.families .text-wrapper-129 {
  margin-right: -0.05px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -2.50px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .text-wrapper-130 {
  position: absolute;
  top: 1px;
  left: 30px;
  width: 154px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.families .text-27 {
  display: flex;
  width: 101px;
  height: 16px;
  align-items: flex-start;
  position: absolute;
  top: 2px;
  left: 184px;
}

.families .text-wrapper-131 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -2.50px;
  margin-right: -0.49px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #155cfb;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .text-28 {
  display: flex;
  width: 52px;
  height: 16px;
  align-items: flex-start;
  position: absolute;
  top: 2px;
  left: 0;
}

.families .text-wrapper-132 {
  margin-right: -1.28px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -2.50px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .text-wrapper-133 {
  position: absolute;
  top: 1px;
  left: 52px;
  width: 147px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.families .text-29 {
  display: flex;
  width: 131px;
  height: 16px;
  align-items: flex-start;
  position: absolute;
  top: 2px;
  left: 198px;
}

.families .text-wrapper-134 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -2.50px;
  margin-right: -1.62px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #155cfb;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .card-27 {
  display: flex;
  flex-direction: column;
  height: 154px;
  align-items: flex-start;
  padding: 24px 0px 24px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 14px;
  border: 1px solid;
  border-color: #e9d4ff;
  background: linear-gradient(
    135deg,
    rgba(239, 246, 255, 1) 0%,
    rgba(250, 245, 255, 1) 100%
  );
}

.families .dashboard-page-4 {
  display: flex;
  width: 1230px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.families .container-81 {
  position: relative;
  width: 48px;
  height: 48px;
}

.families .container-82 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 104px;
}

.families .heading-8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1166px;
  height: 24px;
  display: flex;
}

.families .text-wrapper-135 {
  margin-top: -0.5px;
  width: 221px;
  height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families .organisez-un-v-wrapper {
  position: absolute;
  top: 32px;
  left: 0;
  width: 1166px;
  height: 20px;
  display: flex;
}

.families .organisez-un-v {
  margin-top: 0.5px;
  width: 937px;
  height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #354152;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .button-49 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 68px;
  left: 0;
  width: 219px;
  height: 36px;
  display: flex;
  gap: 9px;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(43, 127, 255, 1) 0%,
    rgba(152, 16, 250, 1) 100%
  );
}

.families .icon-23 {
  margin-top: 10px;
  width: 16px;
  height: 16px;
  margin-left: 12px;
}

.families .text-wrapper-136 {
  margin-top: 8.5px;
  width: 171px;
  height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .card-28 {
  display: flex;
  flex-direction: column;
  height: 584px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.families .card-header-9 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: 16.00px minmax(0, 1fr);
  width: 1278px;
  height: 70px;
  gap: 6px;
  padding: 24px 24px 0px;
  position: absolute;
  top: 1px;
  left: 1px;
}

.families .card-content-13 {
  width: 1278px;
  gap: 24px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 24px;
  position: relative;
}

.families .dashboard-page-5 {
  display: flex;
  flex-direction: column;
  height: 404px;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 24px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    rgba(239, 246, 255, 1) 0%,
    rgba(250, 245, 255, 1) 100%
  );
}

.families .vue-d-ensemble {
  position: absolute;
  top: 0;
  left: 478px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families .container-83 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 280px;
}

.families .icon-24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1182px;
  height: 280px;
}

.families .recharts-zindex {
  position: absolute;
  width: 15.23%;
  height: 64.29%;
  top: 13.39%;
  left: 42.34%;
}

.families .recharts-zindex-2 {
  position: absolute;
  width: 32.27%;
  height: 79.46%;
  top: 6.16%;
  left: 35.16%;
}

.families .group {
  width: 33.82%;
  top: 0;
  left: 0;
  position: absolute;
  height: 6.74%;
  display: flex;
}

.families .text-wrapper-137 {
  flex: 1;
  width: 127px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #10b981;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.families .group-2 {
  width: 26.74%;
  top: 93.26%;
  left: 50.37%;
  position: absolute;
  height: 6.74%;
  display: flex;
}

.families .text-wrapper-138 {
  flex: 1;
  width: 100px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #f59e0b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.families .group-3 {
  width: 27.01%;
  top: 59.19%;
  left: 73.52%;
  position: absolute;
  height: 6.74%;
  display: flex;
}

.families .text-wrapper-139 {
  flex: 1;
  width: 101px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ef4444;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.families .pc {
  position: absolute;
  top: 251px;
  left: 5px;
  width: 1172px;
  height: 24px;
  display: flex;
  gap: 10px;
}

.families .sp {
  width: 105.01px;
  margin-left: 436.1px;
  height: 24px;
  display: flex;
  gap: 4px;
}

.families .icon-25 {
  margin-top: 6.8px;
  width: 14px;
  height: 14px;
}

.families .text-30 {
  display: flex;
  margin-top: 2.5px;
  width: 87.01px;
  height: 19px;
  position: relative;
  align-items: flex-start;
}

.families .text-wrapper-140 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -4.00px;
  margin-right: -0.99px;
  color: #10b981;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families .sp-2 {
  width: 80.92px;
  height: 24px;
  display: flex;
  gap: 4px;
}

.families .text-31 {
  display: flex;
  margin-top: 2.5px;
  width: 62.92px;
  height: 19px;
  position: relative;
  align-items: flex-start;
}

.families .text-wrapper-141 {
  margin-right: -1.08px;
  color: #f59e0b;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -4.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families .sp-3 {
  width: 83.88px;
  height: 24px;
  display: flex;
  gap: 4px;
}

.families .text-32 {
  display: flex;
  margin-top: 2.5px;
  width: 65.88px;
  height: 19px;
  position: relative;
  align-items: flex-start;
}

.families .text-wrapper-142 {
  margin-right: -1.12px;
  color: #ef4444;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  margin-bottom: -4.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.families .container-84 {
  display: flex;
  height: 20px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 0px 0.01px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families .container-85 {
  display: flex;
  width: 122.12px;
  height: 20px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.families .container-86 {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #00c950;
  border-radius: 16777200px;
}

.families .text-33 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 20px;
}

.families .text-wrapper-143 {
  position: absolute;
  top: 1px;
  left: 0;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  white-space: nowrap;
}

.families .container-87 {
  display: flex;
  width: 92.62px;
  height: 20px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.families .container-88 {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #ff6900;
  border-radius: 16777200px;
}

.families .container-89 {
  display: flex;
  width: 95.18px;
  height: 20px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.families .container-90 {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #fb2c36;
  border-radius: 16777200px;
}

.families .button-50 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 36px;
  background-color: #030213;
  border-radius: 8px;
}

.families .text-wrapper-144 {
  position: absolute;
  top: 8px;
  left: 561px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .navigation-6 {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 65px;
  align-items: flex-start;
  padding: 0px 414px 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #0000001a;
}

.families .container-91 {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.families .container-92 {
  display: flex;
  width: 136.87px;
  height: 32px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.families .container-93 {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    rgba(43, 127, 255, 1) 0%,
    rgba(152, 16, 250, 1) 100%
  );
}

.families .text-34 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 28px;
}

.families .text-wrapper-145 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 20px;
  letter-spacing: -0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.families .container-94 {
  display: flex;
  width: 572.71px;
  height: 36px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.families .button-51 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 154.08px;
  height: 36px;
  background-color: #030213;
  border-radius: 8px;
}

.families .icon-26 {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 16px;
  height: 16px;
}

.families .text-wrapper-146 {
  position: absolute;
  top: 8px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .button-52 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 122.81px;
  height: 36px;
  border-radius: 8px;
}

.families .text-wrapper-147 {
  position: absolute;
  top: 8px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.families .icon-27 {
  position: absolute;
  top: 10px;
  left: 95px;
  width: 16px;
  height: 16px;
}

.families .button-53 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 123.45px;
  height: 36px;
  border-radius: 8px;
}

.families .button-54 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 36px;
  border-radius: 8px;
}

.families .icon-28 {
  position: absolute;
  top: 10px;
  left: 132px;
  width: 16px;
  height: 16px;
}
