.users-edit {
  background-color: #ffffff;
  width: 100%;
  min-width: 2044px;
  min-height: 1418px;
  position: relative;
}

.users-edit .app {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 1418px;
  align-items: flex-start;
  padding: 97px 510px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.users-edit .profile-page {
  display: flex;
  flex-direction: column;
  height: 640px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .container-28 {
  display: flex;
  flex-direction: column;
  height: 68px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .heading-2 {
  display: flex;
  height: 36px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .text-wrapper-38 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 30px;
  letter-spacing: 0.40px;
  line-height: 36px;
}

.users-edit .paragraph-5 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
}

.users-edit .text-wrapper-39 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.users-edit .container-29 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 540px;
}

.users-edit .card-8 {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 540px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.users-edit .card-content-6 {
  display: flex;
  flex-direction: column;
  width: 323.33px;
  height: 494px;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 24px 0px;
  position: relative;
}

.users-edit .profile-page-2 {
  height: 196px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .heading-3 {
  position: absolute;
  top: 144px;
  left: 83px;
  width: 110px;
  height: 28px;
  display: flex;
}

.users-edit .text-wrapper-40 {
  width: 114px;
  height: 28px;
  font-size: 20px;
  letter-spacing: -0.45px;
  line-height: 28px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  white-space: nowrap;
}

.users-edit .paragraph-6 {
  position: absolute;
  top: 172px;
  left: 82px;
  width: 111px;
  height: 24px;
  display: flex;
}

.users-edit .text-wrapper-41 {
  margin-top: -0.5px;
  width: 112px;
  height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #495565;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.users-edit .container-30 {
  position: absolute;
  top: 0;
  left: 74px;
  width: 128px;
  height: 128px;
}

.users-edit .primitive-span-2 {
  display: flex;
  width: 128px;
  height: 128px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16777200px;
  overflow: hidden;
}

.users-edit .text-6 {
  display: flex;
  height: 128px;
  align-items: center;
  justify-content: center;
  background-color: #ececf0;
  border-radius: 16777200px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.users-edit .text-wrapper-42 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 30px;
  letter-spacing: 0.40px;
  line-height: 36px;
  white-space: nowrap;
}

.users-edit .button-19 {
  position: absolute;
  top: 88px;
  left: 88px;
  width: 40px;
  height: 40px;
}

.users-edit .profile-page-3 {
  display: flex;
  flex-direction: column;
  height: 101px;
  align-items: flex-start;
  gap: 12px;
  padding: 17px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #0000001a;
}

.users-edit .div-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 20px;
}

.users-edit .icon-8 {
  top: 2px;
  left: 0;
  position: absolute;
  width: 16px;
  height: 16px;
}

.users-edit .text-wrapper-43 {
  position: absolute;
  top: 1px;
  left: 28px;
  color: #495565;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-edit .centres-d-int-r-t {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-edit .container-31 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 52px;
}

.users-edit .badge {
  width: 61px;
  top: 0;
  left: 0;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-edit .text-wrapper-44 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.users-edit .badge-2 {
  width: 75px;
  top: 0;
  left: 69px;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-edit .badge-3 {
  width: 46px;
  top: 0;
  left: 152px;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-edit .badge-4 {
  width: 62px;
  top: 0;
  left: 206px;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-edit .badge-5 {
  width: 83px;
  top: 30px;
  left: 0;
  display: flex;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 8px;
  position: absolute;
  background-color: #030213;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-edit .card-9 {
  position: absolute;
  top: 0;
  left: 349px;
  width: 675px;
  height: 540px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid;
  border-color: #0000001a;
}

.users-edit .card-header-5 {
  margin-left: 1px;
  width: 672.67px;
  height: 70px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.users-edit .card-title-5 {
  margin-left: 24px;
  width: 624.67px;
  margin-top: 24px;
  display: flex;
}

.users-edit .text-wrapper-45 {
  margin-top: -0.5px;
  width: 157px;
  height: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 16px;
  white-space: nowrap;
}

.users-edit .card-description-5 {
  margin-left: 24px;
  width: 624.67px;
  display: flex;
}

.users-edit .text-wrapper-46 {
  margin-top: -0.5px;
  width: 317px;
  height: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #717182;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: 24px;
  white-space: nowrap;
}

.users-edit .primitive-div-4 {
  display: flex;
  margin-left: 25px;
  width: 624.67px;
  height: 420px;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.users-edit .tab-list-3 {
  height: 36px;
  background-color: #ececf0;
  border-radius: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .primitive-button-7 {
  left: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px -1px #0000001a, 0px 1px 3px #0000001a;
  display: flex;
  width: 308px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  position: absolute;
  top: 4px;
  border-radius: 8px;
}

.users-edit .text-wrapper-47 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-edit .primitive-button-8 {
  left: 312px;
  display: flex;
  width: 308px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  position: absolute;
  top: 4px;
  border-radius: 8px;
}

.users-edit .text-wrapper-48 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #717182;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-edit .tab-panel-2 {
  display: flex;
  flex-direction: column;
  height: 360px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .profile-page-4 {
  height: 58px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .container-32 {
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 58px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.users-edit .primitive-label-4 {
  display: flex;
  height: 14px;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .text-wrapper-49 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 14px;
  white-space: nowrap;
}

.users-edit .input-4 {
  display: flex;
  height: 36px;
  align-items: center;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f3f3f5;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-edit .text-wrapper-50 {
  position: relative;
  width: fit-content;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  white-space: nowrap;
}

.users-edit .container-33 {
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 58px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 320px;
}

.users-edit .profile-page-5 {
  display: flex;
  flex-direction: column;
  height: 58px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .input-5 {
  height: 36px;
  padding: 4px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f3f3f5;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
  color: #0a0a0a;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-edit .profile-page-6 {
  display: flex;
  flex-direction: column;
  height: 86px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .textarea {
  display: flex;
  height: 64px;
  align-items: flex-start;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f3f3f5;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent;
}

.users-edit .text-wrapper-51 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #717182;
  font-size: 14px;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-edit .button-20 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 36px;
  background-color: #030213;
  border-radius: 8px;
}

.users-edit .text-wrapper-52 {
  position: absolute;
  top: 8px;
  left: 214px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-edit .navigation-3 {
  display: flex;
  flex-direction: column;
  width: 2044px;
  height: 65px;
  align-items: flex-start;
  padding: 0px 414px 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #0000001a;
}

.users-edit .container-34 {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.users-edit .container-35 {
  display: flex;
  width: 136.87px;
  height: 32px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.users-edit .container-36 {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    rgba(43, 127, 255, 1) 0%,
    rgba(152, 16, 250, 1) 100%
  );
}

.users-edit .text-7 {
  height: 28px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.users-edit .text-wrapper-53 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 20px;
  letter-spacing: -0.45px;
  line-height: 28px;
  white-space: nowrap;
}

.users-edit .container-37 {
  display: flex;
  width: 572.71px;
  height: 36px;
  align-items: center;
  gap: 4px;
  position: relative;
}

.users-edit .button-21 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 154.08px;
  height: 36px;
  border-radius: 8px;
}

.users-edit .icon-9 {
  top: 10px;
  left: 12px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.users-edit .text-wrapper-54 {
  position: absolute;
  top: 8px;
  left: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #0a0a0a;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 20px;
  white-space: nowrap;
}

.users-edit .button-22 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 122.81px;
  height: 36px;
  border-radius: 8px;
}

.users-edit .icon-10 {
  top: 10px;
  left: 95px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.users-edit .button-23 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 123.45px;
  height: 36px;
  border-radius: 8px;
}

.users-edit .button-24 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 36px;
  border-radius: 8px;
}

.users-edit .icon-11 {
  top: 10px;
  left: 132px;
  position: absolute;
  width: 16px;
  height: 16px;
}

.users-edit .button-25 {
  position: relative;
  width: 36px;
  height: 36px;
}
