  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container-fluid px-4 px-lg-5">
      <a class="navbar-brand d-flex align-items-center" href="/index.html">
        <div class="logo-gradient rounded me-2"></div>
        <span class="fw-normal fs-5">The Village</span>
      </a>
    </div>
  </nav>
