// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "auth_pages";
@import "devise_forms";

// New V2 Components
@import "cards";
@import "buttons";
@import "badges";
@import "forms";
@import "chat_widget";
@import "sidebar";
